<!doctype html>

<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add lecture</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo all about organization1.png">
    <!-- master CSS
    ============================================ -->
    <link rel="stylesheet" href="master.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Color Css Files Start -->
    <link rel="alternate stylesheet" type="text/css" href="switcher/color-one.css" title="color-one" media="screen" />
    
    <link rel="alternate stylesheet" type="text/css" href="switcher/pattren1.css" title="pattren1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="switcher/background1.css" title="background1" media="screen" />
    
    <!-- Color Css Files End -->


</head>
<body>
    
    <!-- Start main area -->
    <div class="main-area">
        <!-- Start header -->
		<header>
        		
        		<!-- End header top -->
        		<!-- Start main menu area -->
        		<div class="main-menu-area" id="sticker">
        			<div class="container">
        				<div class="row">
        					<div class="col-md-3 col-xs-12">
        						<div class="logo ptb-32">
        							<a href="index.html">
        								<img src="img/logo.png" width="90px">
        							</a>
        						</div>
        					</div>
        					<div class="col-md-9 col-xs-12">
        						<div class="main-menu">
        							<nav>
        								<ul>
        									<li><a href="index.html">Home</a>
                                            
                                            </li>
        									
        								<!--<li class="mega-menu"><a href="dashboard/admin-dashboard.html">Project</a></li>  --> 
        									<li><a href="attendance.html">Attendance</a></li>
        									<li  class="mega-menu"><a href="add_lecture.html">Add lecture</a>
                                            </li>
											<li  class="mega-menu"><a href="profile.html">User Profile</a>
                                            </li>
                                            <li  class="mega-menu"><a href="contact-us.html">Contact Us</a>
                                            </li>
                                            
                                                                   
                                            
<div class="donate-button ptb-32">
        							<a class="waves-effect waves-light" href="login-user.html">Login</a>
        						</div>
                                            
        								</ul>
        							</nav>
        						</div>
        						
        					</div>
        				</div>
        			</div>
        		</div>
        		<!-- End main menu area -->
                <!-- Start mobile menu -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="nav">
                                        <li><a class="home" href="index.html">Home</a>
                                        
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="blog-content.html">Blog</a>
                                         
                                        </li>
                                        <li><a href="volunteer.html">Volunteers</a>
                                            <li><a href="events-1.html">Organization</a></li>
                                          
                                        </li>
                                        <li><a href="contact-us.html">Contact Us</a>
                                         
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End mobile menu -->
        	</header>
        <!-- End header -->
        <!-- Start page title -->
        <section class="page-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title text-center">
                            <h1>Add new Lecture</h1>
                        </div>
                        <div class="breadcrumbs-area  text-center">
                            <ol class="breadcrumbs">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">New lecture</li>
                            </ol>
                        </div>
                        <div class="back-home">
                            <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK TO HOME</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page title -->
        <!-- Start Donate page area -->
        <section class="donate-page-area pt-90 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 ml-auto mr-auto">
                        <div class="donate-content">
                            <div class="donate-form-container">
                                <div class="donate-form-title">
                                    <h3>Add new lecture</h3>
                                </div>
                                <div class="donation-form quick-donation-section donate-page">
                                    <form action="#" class="form">
                                        
                                        <div class="tg-donetship">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="single-input mb-30" style="width: 1000px">
                                                        <label >Subject</label>
                                                        <input type="text" name="first_name">
                                                    </div>
                                                </div>
												<div class="col-lg-12">
                                                    <div class="single-input mb-30" style="width: 1000px">
                                                        <label >Faculty name</label>
                                                        <input type="text" name="first_name">
                                                    </div>
                                                </div>
												<div class="col-lg-6">
                                                    <div class="single-input mb-30">
                                                        <label>Semester</label><br />
                                                        <select class="form-control" style="height: 55px; font-size: 14px;">
                                                            <option selected>Select your semester</option>
															<option>1st</option>
															<option>2nd</option>
															<option>3rd</option>
															<option>4th</option>
															<option>5th</option>
															<option>6th</option>
															<option>7th</option>
															<option>8th</option>
                                                        </select>
                                                    </div>
                                                </div>
												<div class="col-lg-6">
                                                    <div class="single-input mb-30">
                                                        <label >Batch</label>
                                                        <input type="text" name="first_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="single-input mb-30">
                                                        <label>Start time</label>
                                                        <input type="text" name="night_phone_a" placeholder="Ex: 16:15">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="single-input mb-30">
                                                        <label>End time</label>
                                                        <input type="text" name="email" placeholder="Ex: 17:15">
                                                    </div>
                                                </div>
												<div class="col-lg-12">
                                                    <div class="single-input mb-30">
                                                        <label>Select the slot</label><br />
                                                        <select class="form-control" style="height: 55px; font-size: 14px;">
                                                            <option selected>Select the slot</option>
															<option>1st</option>
                                                            <option>2nd</option>
															<option>3rd</option>
															<option>4th</option>
															<option>5th</option>
															<option>6th</option>
                                                        </select>
                                                    </div>
                                                </div>
																							
                                            </div>
                                        </div>
										
                                        <div class="donate-btn text-center">
                                            <button type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Donate page area -->
        <!-- Start footer -->
        <footer>
            <div class="footer-top pt-50 pb-50">
                <div class="footer-widget-area">
                    <div class="container">
                        <div class="row">
                            <!-- Start footer widget -->
                            <div class="col-md-6 col-lg-4">
                                <div class="footer-widget widget-one">
                                    <div class="footer-widget-title">
                                        <h3>ABOUT US</h3>
                                    </div>
                                    <div class="widget-about-content">
                                        <p>We are student of Vishwakarma Government Engineering college and we have build this software through which we can mark attendance of students.</p>
                                    </div>
                                    <div class="widget-contact-content">
                                        <h3>CONTACT US</h3>
                                        <a href="tel:+0012345678">Phone :  +(00) 1234-5678</a>
                                        <a href="mailto:info@granttheme.com">Email :  ask@facerecognition.com</a>
                                        <p>Address : D-block VGEC,Chandkheda.</p>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-6 col-lg-2">
                                <div class="footer-widget widget-two">
                                    <div class="footer-widget-title">
                                        <h3>QUICK LINK</h3>
                                    </div>
                                    <nav>
                                        <ul>
                                            
                                            <li><a >Terms and Condition</a></li>
                                            <li><a >Legal disclaimer</a></li>
                                            <li><a>Privacy policy</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- End footer widget -->
                            <!-- Start footer widget -->
                      <!--      <div class="col-md-6 col-lg-4">
                                <div class="footer-widget widget-four">
                                    <div class="footer-widget-title">
                                        <h3>NEWSLETTER</h3>
                                    </div>
                                    <div class="widget-about-content">
                                        <p>Select your newsletters, enter your email address, and click "Subscribe"</p>
                                    </div>
                                    <div class="newslater">
                                        <form id="mc-form" class="mc-form form">
                                            <input id="mc-email" type="email" autocomplete="off"  placeholder="Email Address">
                                            <button id="mc-submit" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                        </form>
                                        mailchimp-alerts Start 
                                       <div class="mailchimp-alerts text-centre">
                                            <div class="mailchimp-submitting"></div>  mailchimp-submitting end 
                                            <div class="mailchimp-success"></div> mailchimp-success end 
                                            <div class="mailchimp-error"></div> mailchimp-error end 
                                        </div>< mailchimp-alerts end 
                                    </div>
                                </div>
                            </div> -->
                            <!-- End footer widget -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="copyright">
                                <p>Copyright 2021 All rigth reserved. Design by  <a href="#">Team</a></p>
                            </div>
                        </div>
                   <!--     <div class="col-md-4">
                            <div class="footer-social">
                                <nav>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> -->
                    </div>
                    <div class="" id="back-top"></div>
                </div>
            </div>
        </footer>
        <!-- End footer -->
    </div>
    <!-- End main area -->
    <!-- Color Switcher -->
    
    <!-- Color Switcher end -->
    <!-- modernizr-3.10.0.min js
    ============================================ -->
    <script src="js/vendor/modernizr-3.10.0.min.js"></script>
    <!-- jquery-3.5.0.min js
    ============================================ -->
    <script src="js/vendor/jquery-3.5.0.min.js"></script>

    <!-- jquery-migrate-3.1.0.min js
    ============================================ -->
    <script src="js/vendor/jquery-migrate-3.1.0.min.js"></script>

    <!-- bootstrap js
    ============================================ -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- owl.carousel.min js
    ============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- jquery.nivo.slider.pack js
    ============================================ -->
    <script src="js/jquery.nivo.slider.pack.js"></script>
    <!-- jquery.mixitup.min js
    ============================================ -->
    <script src="js/jquery.mixitup.min.js"></script>
    <!-- jquery.magnific-popup.min js
    ============================================ -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- jquery.meanmenu js
    ============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- jquery.syotimer.min js
    ============================================ -->
    <script src="js/jquery.syotimer.min.js"></script>

    <!-- wow js
    ============================================ -->
    <script src="js/wow.js"></script>

    <!-- jquery.scrollUp.min js
    ============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>

    <!-- jquery.ajaxchimp.min js
    ============================================ -->
    <script src="js/jquery.ajaxchimp.min.js"></script>

    <!-- plugins js
    ============================================ -->
    <script src="js/plugins.js"></script>
    <script>
        new WOW().init();
    </script>
       
    <script src="js/main.js"></script>
</body>
</html>
