{% extends "layout.html"%}
{% block content %}

<div>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    </div>
    <div>
    {{ form.enrollment.label()}}
        {% if form.enrollment.errors%}
        {{ form.enrollment() }}
        {% for error in form.enrollment.errors %}
            <div>
            {{ error }}
            </div>
        {% endfor %}
        {% else %}
        {{form.enrollment()}}
        {% endif %}
    </div>

        <div>
    {{ form.name.label()}}
        {% if form.name.errors%}
        {{ form.name() }}
        {% for error in form.name.errors %}
            <div>
            {{ error }}
            </div>
        {% endfor %}
        {% else %}
        {{form.name()}}
        {% endif %}
    </div>

    <tr></tr>

    <div>
    {{ form.email.label()}}
    {% if form.email.errors%}
        {{ form.email() }}
        {% for error in form.email.errors %}
            <div>
            {{ error }}
            </div>
        {% endfor %}
        {% else %}
        {{form.email()}}
        {% endif %}
    </div>


    <div>
        {{ form.sem.label() }}
    <select name=sem>
    {% for sem in sems %}
    <option value= "{{sem}}" SELECTED>{{sem}}</option>"
    {% endfor %}
    </select>
    </div>

    <div>
        {{form.branch.label() + ":"}}
    <select name=branch>
    {% for branch in branches %}
    <option value= "{{branch}}" SELECTED>{{branch}}</option>"
    {% endfor %}
    </select>
    </div>


    <div>
    <tr></tr>
    {{ form.password.label()}}
    {{ form.password() }}
    </div>
    <div>
    <tr></tr>
    {{ form.confirm_password.label()}}
    {% if form.confirm_password.errors%}
        {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
            <div>
            {{ error }}
            </div>
        {% endfor %}
        {% else %}
        {{form.confirm_password()}}
        {% endif %}
        </div>
    <div>
    <tr></tr>
        <div>
            Upload Image 1: <input type="file" name="img1">
        </div>
        <div>
            Upload Image 2: <input type="file" name="img2">
        </div>
         <div>
            Upload Image 3: <input type="file" name="img3">
        </div>
         <div>
            Upload Image 4: <input type="file" name="img4">
        </div>
         <div>
            Upload Image 5: <input type="file" name="img5">
        </div>
        <div>
    {{form.submit()}}
        </div>
    </div>
</form>
</div>
{% endblock content %}